<div class="container">
  
  <div class="row">
    <div class="col-md-3">
      <h3>User info</h3>
        <%= image_tag @user.get_profile_image(100,100) %>
        <table class="table table-hover table-inverse">
          <tbody>
            <tr>
              <td><strong>name</strong></td>
              <td><strong><%=@user.name %></strong></td>
            </tr>
            <tr>
              <td><strong>introduction</strong></td>
              <td><strong><%=@user.introduction %></strong></td>
            </tr>
          </tbody>
        </table>
      <div>
        <%= link_to edit_user_path(@user.id), class:"btn btn-outline-secondary btn-block" do %>
        <i class="fas fa-user-cog"></i>
        <% end %>
      </div>
      <h3>New book</h3>
        <%= form_with model: @book do |f| %>
          
          <h4>Title</h4>
            <%= f.text_field :title %>
          <h4>Opinion</h4>
            <%= f.text_area :body %>
          <%= f.submit 'Create Book',class:"btn btn-success" %>
        <% end %>
    <!-- ユーザーの投稿一覧 -->
    
      </div>
  
  
    <div class="col-md-8 offset-md-1">
      <h2>Users</h2>
            <table class="table table-hover table-inverse">
                <thead>
                    <tr>
                        <th>image</th>
                        <th>name</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <% @users.each do |user| %>
                        <tr>
                            <td>
                              <%= image_tag user.get_profile_image(90,90) %>
                            </td>
                            <td>
                              <%= user.name %>
                            </td>
                            <td><%=link_to "Show", user_path(user.id) %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
    </div>
  </div>
</div>
